


<div layout="column">

    <div class="question-text">
        {{vm.CurrentIndex + 1}}. {{vm.CurrentQuestion.Text}}
    </div>

    <div style="margin-bottom:20px;">

        <div ng-show="vm.CurrentQuestion.QuestionType==='markertype'">


            <md-radio-group  layout-align="start center"  ng-model="vm.Responses[vm.CurrentQuestion.Id].ResponseText" class="md-primary">
                <div class="row" ng-repeat="opt in vm.CurrentQuestion.QuestionOptions" >
                    <div flex layout="row" layout-padding layout-align="start-center">
                        <div flex style="max-width:75px;">
                            <img ng-src="{{opt.OptionValue}}" />
                        </div>

                        <md-radio-button flex style=" margin-right:12px;"
                                         ng-value="opt.OptionText" >


                            {{ opt.OptionText }}
                        </md-radio-button>
                    </div>


                </div>


            </md-radio-group>

        </div>


        <div ng-show="vm.CurrentQuestion.QuestionType==='checkbox'">

            <md-checkbox ng-repeat="opt in vm.CurrentQuestion.QuestionOptions" ng-value="opt.OptionText" ng-model="vm.Responses[vm.CurrentQuestion.Id].TempOptions[opt.Id]"  aria-label="Checkbox 1">
                {{ opt.OptionText }}
            </md-checkbox>

        </div>

        <div ng-show="vm.CurrentQuestion.QuestionType==='shortanswer'" >
            <md-input-container style="width:100%" >
                <label>Start writing here..</label>
                <textarea md-maxlength="500" maxlength="500" columns="3"  rows="5" style="width:90%; height:70px" name="description" ng-model="vm.Responses[vm.CurrentQuestion.Id].ResponseText"></textarea>
                <!--<div ng-messages="projectForm.description.$error">-->
                <!--<div ng-message="required">This is required.</div>-->
                <!--<div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>-->
                <!--</div>-->
            </md-input-container>
        </div>

        <div ng-show="vm.CurrentQuestion.QuestionType==='radio'">
            <md-radio-group  layout-align="start center"  ng-model="vm.Responses[vm.CurrentQuestion.Id].ResponseText" class="md-primary">
                <md-radio-button style=" margin-right:12px;" ng-repeat="opt in vm.CurrentQuestion.QuestionOptions"
                                 ng-value="opt.OptionText">
                    {{ opt.OptionText }}
                </md-radio-button>
            </md-radio-group>
        </div>
    </div>

    <div layout="row" layout-align="end center">
        <div>
            <md-button class="md-accent" ng-show="vm.CurrentIndex > 0" ng-click="vm.previousQuestion()">Previous</md-button>
        </div>
        <div>
            <md-button class="md-primary" ng-show="vm.CurrentIndex + 1 < vm.QuestionCount" ng-click="vm.nextQuestion($event)">Next</md-button>
            <md-button class="md-primary md-raised" ng-show="vm.CurrentIndex === vm.QuestionCount-1" ng-click="vm.submitFeedback($event)">Submit Feedback</md-button>
        </div>
    </div>
</div>





