<style>
    #map_canvas{
        width:100%;

    }
    #map-container{
        position:relative;
        width:100%;
        height:100%;
        background-color:#e8e8e8;
    }
    #place-info-panel{
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
    }
    #place-info-panel .map-control{
        /*margin-top:10px;*/
        /*margin-left:10px;*/
        z-index:9;
        padding:10px 10px 10px 10px;

    }
    .map-control{
        background-color:rgba(255,255,255,0.95);
    }

    .place-title{
        font-weight:bold;
        font-size:20px;
    }
    .place-title-bar{
        padding-bottom:10px;
    }
    .place-location{
        font-weight:normal;
        font-size:14px;
        rgba(0, 0, 0, 0.75);
    }
    .action-bar{
        padding:10px 0px 0px 0;
    }
    .instruction-text{
        font-size:18px;
    }

    .question-text{
        font-weight:bold;
        margin-bottom:20px;
    }

    #map-loading-indicator{
        position:absolute;
        top:50%;
        left:50%;
        margin-top:-120px;

    }
</style>

<div id="map-container" resize-element resize-offset="64">



    <div ng-show="vm.PlaceLoaded" id="place-info-panel">
        <div layout="row" class="md-padding" >
            <md-whiteframe class="md-whiteframe-1dp map-control" flex-gt-lg="25" flex-lg="30" flex-gt-md="30"  flex-md="40"  flex-gt-sm="55" flex-sm=""  flex="100" md-padding layout="column">


                <div class="place-title-bar" layout="row" layout-align="space-between center">
                    <div class="place-title" >{{vm.Place.Name}}</div>
                    <div class="place-location">
                        <div  ng-hide="vm.FeedbackMode">
                            {{ vm.Place.City }}<span ng-show="vm.Place.State">, {{ vm.Place.State }}</span><span ng-show="!vm.Place.State || vm.Place.CountryCode != 'US'">, {{vm.Place.CountryCode}}</span>
                        </div>
                        <div  ng-show="vm.FeedbackMode" layout="row" layout-align="start center">
                            <md-button style="margin:0; padding:0;"class="md-warn map-control"   ng-click="vm.SetFeedbackMode(false)">Cancel</md-button>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
                <div class="action-bar" >



                    <div ng-show="!vm.MarkerPlacementMode" >
                        <div layout="row">
                            <div class="instruction-text">
                                <div ng-bind-html="vm.Place.DescriptionText"></div>
                            </div>
                        </div>
                        <div layout="row" layout-align="end center">
                            <md-button class="md-primary"  ng-click="vm.SetMarkerPlacementMode(true)"  ng-disabled="!vm.GMapsLoaded">Get Started</md-button>
                        </div>

                    </div>

                    <div ng-show="vm.MarkerPlacementMode && !vm.FeedbackMode" >
                        <div layout="row" layout-align="space-between center">
                            <div class="instruction-text">Please start by dragging the marker to a location on the map you wish to leave feedback for.
                            </div>

                        </div>
                       <div layout="row" layout-align="end center">
                           <md-button style="margin-bottom:0px" class="md-warn md-hue-2 map-control"   ng-show="vm.MarkerPlacementMode" ng-click="vm.SetMarkerPlacementMode(false)">Cancel</md-button>
                           <md-button style="margin-right:0px; margin-bottom:0px" class="md-primary" ng-click="vm.SetFeedbackMode(true)">Set</md-button>
                       </div>

                    </div>

                    <div ng-show="vm.FeedbackMode">

                        <div layout="column">
                            <div style="padding-bottom:10px;">
                                Please take the time to complete each of the following questions.
                            </div>

                            <md-divider></md-divider>
                            <div style="padding:30px 0px 30px 0">
                                <place-feedback place="vm.Place" submitfeedback="vm.SubmitFeedback"></place-feedback>
                            </div>


                        </div>


                    </div>
                </div>
            </md-whiteframe>

        </div>

        <!--<div layout="row" class="md-padding" ng-show="vm.FeedbackMode" layout-align="end stretch">-->
            <!--<md-whiteframe class="md-whiteframe-1dp map-control" flex-gt-lg="25" flex-lg="25" flex-gt-md="25"  flex-md="35"  flex-gt-sm="55"  flex="100" md-padding layout="column">-->

                <!--test-->
            <!--</md-whiteframe>-->
        <!--</div>-->

    </div>


    <div id="map-loading-indicator" ng-show="!vm.GMapsLoaded">
        <md-progress-circular md-mode="indeterminate" md-diameter="120"></md-progress-circular>
    </div>


    <div ng-show="vm.GMapsLoaded"  resize-element resize-offset="64" data-resize-selector="'.angular-google-map-container'">

        <ui-gmap-google-map center='vm.Map.center' id="map_canvas" zoom='vm.Map.zoom' options='vm.Map.options' events='vm.Map.events' control='vm.Map.control'>

            <!--<ui-gmap-markers models="responseMarkers" coords="'coords'" options="'options'" icon="'icon'">-->
            <ui-gmap-marker
                    idKey='vm.FeedbackMarker.idKey'
                    coords='vm.FeedbackMarker.coords'

                    options='vm.FeedbackMarker.options'
            <!--click='{expression}'-->
                    <!--events='{expression}'-->
                    <!--control='{expression}'-->
            >
            </ui-gmap-marker>
        </ui-gmap-google-map>
    </div>

</div>
